<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
    <head></head>
    <body>
    <f:section name="body">
        <div class="alert alert-info">

            <span class="glyphicon glyphicon-info-sign"></span>
            HAHAContent only rendered in Parent "One-Site-Page"!

        </div>

        <f:cObject typoscriptObjectPath="lib.site.tab" data="{pageUid: '{f:cObject(typoscriptObjectPath: \'lib.firstSubPage\')}'}" />

    </f:section>
    </body>
</html>