@import "../../../../../teufels_thm_custom/Resources/Private/Assets/Less/Import/index.less";

.tx-teufels-cpt-cnt-bs-tab-collapse {

  h4{
    height:55px;
  }

  .section__l--13 .section_count span {
    display: none;
  }

  .section__l--14.section__doktype--116 .focuspoint {
    margin-top: 60px;
  }
  .section__l--1.section__doktype--116 {
    padding: 80px 0px 30px 0px;
  }

  .section__doktype--116{
    .layout-17{
      text-align: left !important;
      text-align: -webkit-left !important;

      .focuspoint{
        margin-top:0px;
        @media screen and (min-width: 768px){
          padding-bottom: 82.25% !important;
        }
        @media screen and (min-width: 1200px){
          padding-bottom: 86% !important;
        }
        @media screen and (min-width: 1440px){
          padding-bottom: 56% !important;
        }
      }
    }
  }
  .section__doktype--116{
    .layout-15 {
      text-align: left !important;
      text-align: -webkit-left !important;

      .focuspoint{
        margin-top:0px;
        @media screen and (min-width: 768px){
          padding-bottom: 82.25% !important;
        }
        @media screen and (min-width: 1200px){
          padding-bottom: 86% !important;
        }
        @media screen and (min-width: 1440px){
          padding-bottom: 56% !important;
        }
      }
    }
  }
  .section__l--14.section__doktype--116 .focuspoint{
    height:300px;
  }

  .tab-pane #section__uid--504, .tab-pane #tab-page_282, .tab-pane #tab-page_317{
    .layout-17 .focuspoint{
      padding-bottom: 45% !important;
    }
  }
  .tab-pane #tab-page_282 .focuspoint{
    padding-bottom: 45% !important;
  }
  .tab-pane #tab-page_252, .tab-pane #tab-page_264, .tab-pane #tab-page_314, .tab-pane #tab-page_270{
    .layout-17 .focuspoint{
      padding-bottom: 53% !important;
    }
  }

  .nav-tabs{
    background: @brand-primary;
    border-bottom: none;
    li{
      background: none;
      padding: 0px;
      margin-bottom: 0px !important;
      @media screen and (max-width:1199px){
        width: 33%;
      }
      @media screen and (max-width:420px){
        width: 50%;
        height: 70px;
      }
    }
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background: @brand-primary;
    padding: 25px 15px 0px 15px;//20px 15px;
    color: @brand-secondary;
    background: url(/fileadmin/user_upload/Icons/arrow-li.png) no-repeat center -770%;
    min-width: 100px;
    text-align: center;
    @media screen and (max-width:1199px){
      text-align: left;
      background: none;
      padding-bottom: 21px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      //background: url(/fileadmin/user_upload/Icons/arrow-li.png) no-repeat center -800%;;
    }
    @media screen and (max-width:768px){
      background: none;
      padding-bottom: 21px;
      border-radius: 0px;
    }
  }
  .nav > li > a:hover, .nav > li > a:focus{
    background-color: @brand-primary;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    cursor: default;
    @media screen and (max-width:1199px){
      border-bottom: 4px solid @brand-secondary;
    }
  }
  .nav-tabs > li > a{
    font-size: 15px;
    border:none;
    color: @white;
    padding: 25px 15px;
  }
  .nav-tabs > li > a:hover{
    border: none;
    color: @brand-secondary;
    background-color: @brand-primary;
  }
  .nav-tabs li:nth-child(1){
    margin-left: 10%;
    @media screen and (max-width: 1199px) {
      margin-left: 0%;
    }
  }
  .section__doktype--116{
    padding: 30px 0px;
  }
  .section__doktype--118{
    ul{

      list-style-type: none;

      li{
        text-align: left;
        color: @p-text;
        text-align: -webkit-left;
        background: url(/fileadmin/user_upload/Icons/checked.png) no-repeat;
        background-position: left top;
        padding-left: 60px;
        background-size: 35px;
        margin-bottom: 25px;
        height: 100%;
        min-height: 60px;
        padding-top: 3px;
        /*
        text-align: -webkit-left;
        //height: 78px;
        background: url(/fileadmin/user_upload/Icons/checked.png) no-repeat;
        background-position: left top;
        //padding-top: 17px;
        padding-left: 90px;
        margin-bottom: 25px;
       // @media screen and (max-width: 768px) {
          height: 100%;
          min-height: 90px;
          padding-top: 16px;
        //}*/
        a{
          color: black;
          font-size: 15px;
        }
      }
    }
  }
  .fixed-tab {
    position: fixed;
    top: 115px;
    width: 100%;
    z-index:10;
    max-width: 1920px;
  }

}
